!!!
%title health

%meta{:charset => "utf-8"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

/ - ? 'https'
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/5.0.0/sanitize.min.css", :rel => "stylesheet"}
%link{:href => "css/style.css", :rel => "stylesheet"}

%header
  %nav
    %ul
      %li
        %a{:href => "#"} disco3
      %li
        %a{:href => "#"} videos
      %li
        %a{:href => "#"} music
      %li
        %a{:href => "#"} tour
      %li
        %a{:href => "#"} merch
      %li
        %a{:href => "#"} sign up

%section
  %article
    %hgroup
      %h1 health
      %h2 disco3 :: out now
    %a{:href => "#"} buy it here

%footer
  %ul
    %li
      %a{:href => "#"}
        
    %li
      %a{:href => "#"}
        
    %li
      %a{:href => "#"}
        
    %li
      %a{:href => "#"}
        
    %li
      %a{:href => "#"}
        
    %li
      %a{:href => "#"}
        
/ - ? 'https'
%script{:src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:src => "js/script.js"}
